.image-container:hover img {
    transform: scale(1.1);
}

.image-container:hover .overlay {
    height: 100%;
    opacity: 1;

}

.footer a:hover {
    text-decoration: underline;
    color: yellow;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.footer a:hover {
    text-decoration: underline;
}

/* Enlaces y Efectos de Hover */
.contact:hover {
    color: yellow !important;
}

.nav-link:hover {
    color: yellow !important;
    text-decoration: underline;
}

.explorar:hover {
    color: yellow !important;
}