@media (max-width: 768px) {
    .top-header {
        flex-direction: column !important;
        text-align: center;
        height: 70px !important;

    }



    .top-header ul {
        flex-direction: row !important;
        gap: 0.5rem !important;
        align-items: center;

    }
}

@media (max-width: 768px) {
    section.texto {
        flex-direction: column !important;
        text-align: center;
        padding: 1rem;
    }

    section.texto .col-6 {
        width: 100% !important;
    }

    section.texto img {
        max-width: 100%;
        height: auto;
    }
}