// _variables.scss

// Colores
$primary-color: rgb(0, 170, 97); // verde
$secondary-color: #198754; // verde oscuro
$yellow: yellow;

// Fuentes
$font-primary: 'Roboto', sans-serif;
$font-secondary: 'Bebas Neue', sans-serif;

// Imagen de fondo
$background-image: url('/assets/img/Ciudad.jpg');
